html, body {
    height: 100%;
    margin: 0;
}

html { font-size: 150%; }
@media (max-width: 1200px) { html { font-size: 125%; } }
@media (max-width: 1000px) { html { font-size: 100%; } }
@media (max-width: 767px) { html { font-size: 80%; } }
@media (max-width: 568px) { html { font-size: 50%; } }
@media (max-width: 480px) { html { font-size: 35%; } }
@media (max-width: 320px) { html { font-size: 25%; } }

body {
    font-family: "proxima-nova", "Helvetica Neue", sans-serif;
}

.template {
    display: none;
}

.section {
    height: 100%;
    width: 100%;
    position: relative;
}

.number-container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20em;
    text-align: center;
}

.number-container .odometer-container {
    font-size: 6em;
}

.number-description {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: .08em;
    margin: 1em 0 0;
    font-weight: bold;
}

.number-detail {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .08em;
    opacity: 0.5;
}

.title-number-section .number-container .odometer-container {
    font-size: 4em;
}

.title-number-section .number-description {
    font-size: 1.18em;
    color: #666;
}

@media (max-width: 767px) {
    .title-number-section .number-container .odometer-container {
        font-size: 5em;
    }

    .title-number-section .number-description {
        font-size: 1.4em;
    }
}

@media (max-width: 568px) {
    .title-number-section .number-container .odometer-container {
        font-size: 6em;
    }

    .title-number-section .number-description {
        font-size: 2em;
    }
}

.button {
    text-decoration: none;
    color: #000;
    padding: .3em .7em .4em;
    cursor: pointer;
    margin: 1em auto;
    border: .15em solid;
    display: inline-block;
}

.number-source {
    text-decoration: none;
    color: inherit;
}

.number-source:hover .number-detail {
    border-bottom: 1px dotted;
    opacity: 0.8;
}

.number-section.number-section-theme-minimal {
    background: #eee;
    color: #444;
}

.number-section.number-section-theme-minimal .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
    text-align: right;
}

.number-section.number-section-theme-digital .odometer {
    border: .1em solid rgba(139, 245, 165, 0.4);
}

.number-section.number-section-theme-digital {
    background: #000;
    color: #8bf5a5;
}

.number-section.number-section-theme-car {
    background: #eee0d3;
    color: #333;
}

.odometer.odometer-theme-odometer {
    line-height: 2em;
}

.odometer-theme-odometer:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .1em;
    background: #000;
}

.odometer-theme-odometer:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1em;
    background: #000;
}

.odometer-theme-odometer .odometer-value {
    width: 100%;
    text-align: center;
}

.down-arrow:before {
    content: "\2193";
    position: absolute;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    font-size: 2em;
    bottom: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
    opacity: 0.5;
}