/* line 5, ../sass/odometer-theme-train-station.sass */
.odometer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.odometer {
  *display: inline;
}
/* line 9, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-box-shadow: inset 0 0.6em rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: inset 0 0.6em rgba(255, 255, 255, 0.06);
  -o-box-shadow: inset 0 0.6em rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 0.6em rgba(255, 255, 255, 0.06);
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -khtml-border-radius: 0.1em;
  border-radius: 0.1em;
  background-color: #2b2b2b;
  background: -webkit-linear-gradient(bottom, #0a0a0a 0%, #2b2b2b 50%, #3f3f3f 100%);
  border: 1px solid;
  margin-right: 0.1em;
  padding: 0 0.15em;
  position: relative;
  color: white;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.odometer .odometer-digit {
  *display: inline;
}
/* line 21, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit + .odometer-digit {
  border-left: 0;
}
/* line 24, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit .odometer-digit-spacer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  visibility: hidden;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.odometer .odometer-digit .odometer-digit-spacer {
  *display: inline;
}
/* line 28, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit .odometer-digit-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0.15em;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 37, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit .odometer-ribbon {
  display: block;
}
/* line 40, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-transition: -webkit-transform 2s;
}
/* line 44, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit .odometer-value {
  display: block;
}
/* line 47, ../sass/odometer-theme-train-station.sass */
.odometer .odometer-digit .odometer-value.odometer-terminal-value {
  position: absolute;
}

/* line 50, ../sass/odometer-theme-train-station.sass */
.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
}
