@import compass/css3

$duration: 2s

=spinning-odometer($themeName)
    .odometer.odometer-auto-theme, .odometer#{"." + $themeName}
        +inline-block
        position: relative

        .odometer-digit
            +inline-block
            position: relative

            .odometer-digit-spacer
                +inline-block
                visibility: hidden

            .odometer-digit-inner
                text-align: left
                display: block
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                overflow: hidden

            .odometer-ribbon
                display: block

            .odometer-ribbon-inner
                display: block
                -webkit-backface-visibility: hidden

            .odometer-value
                display: block
                -webkit-transform: translateZ(0)

                &.odometer-last-value
                    position: absolute

        &.odometer-animating-up

            .odometer-ribbon-inner
                -webkit-transition: -webkit-transform $duration
                -moz-transition: -moz-transform $duration
                -ms-transition: -ms-transform $duration
                -o-transition: -o-transform $duration
                transition: transform $duration

            &.odometer-animating .odometer-ribbon-inner
                -webkit-transform: translateY(-100%)
                -moz-transform: translateY(-100%)
                -ms-transform: translateY(-100%)
                -o-transform: translateY(-100%)
                transform: translateY(-100%)

        &.odometer-animating-down

            .odometer-ribbon-inner
                -webkit-transform: translateY(-100%)
                -moz-transform: translateY(-100%)
                -ms-transform: translateY(-100%)
                -o-transform: translateY(-100%)
                transform: translateY(-100%)

            &.odometer-animating .odometer-ribbon-inner
                -webkit-transition: -webkit-transform $duration
                -moz-transition: -moz-transform $duration
                -ms-transition: -ms-transform $duration
                -o-transition: -o-transform $duration
                transition: transform $duration

                -webkit-transform: translateY(0)
                -moz-transform: translateY(0)
                -ms-transform: translateY(0)
                -o-transform: translateY(0)
                transform: translateY(0)