@import compass/css3
@import mixins
@import url("//fonts.googleapis.com/css?family=Wallpoet")

$themeName: "odometer-theme-digital"
$green: #8bf5a5

+spinning-odometer($themeName)

.odometer.odometer-auto-theme, .odometer#{"." + $themeName}
    +background-image(radial-gradient(rgba($green, 0.4), #000))
    background-color: #000
    font-family: "Wallpoet", monospace
    padding: 0 .2em
    line-height: 1.1em
    color: $green

    .odometer-digit + .odometer-digit
        margin-left: .1em